/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
    padding-top: 80px;
    background: #DFE2DB;
}

.navbar {
        background-color: #191919;
        background-image: none;

}

.navbar .nav > li > a {
    float: none;
    padding-top: 20px;
    padding-left: 30px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
}



.thumbnail {
   display: inline-block;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}

.col-md-7 {
    word-wrap: break-word;
    padding-left: 0;
}

.col-md-4 {
    padding-right: 0;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.mainLogo {
    padding-top: 12px;
    text-decoration: none;
}

.footer {
    background: white;

    .liLine{
        display: inline;
    }
}

.userMain {


}

.featureHead{
    background: white;
    border-radius: 5px;
    margin-bottom: 30px;
}

.featureHead h3 {
    padding: 20px;
}

.btn-group{
    display: inline-block;
    margin: auto;
}

 .btn{
  border:0px solid transparent;
 }



// REGISTER PAGE START //

.formBox{
    margin: auto;
    width: 400px;
    background: white;
    border-radius: 3%;
    margin-bottom: 50px;
    padding: 40px;
}

.regHead{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-group{
    padding: 10px;
}

// REGISTER PAGE END //


// PROFILE PAGE START //

.test {
    margin-top: 40px;
}


// PROFILE PAGE END //
