/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require awesomplete
*/

@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
    padding-top: 80px;
    background: #DFE2DB;
    font-family: 'Lato', sans-serif;

}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.subTag {
    color: white;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}



.awesomplete {
     height: 25px;
    width: 275px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: darkred;
    outline:0;
    text-align: center;
}

.panel-body {
    min-height: 700px;
    font-family: 'Lato', sans-serif;
    background: white;
    border-radius: 5px;


}

.navbar {
        background-color: #191919;
        background-image: none;

}

.navbar .nav > li > a {
    float: none;
    padding-top: 20px;
    padding-left: 30px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #ddd;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

button.navbar toggle {

}

* {
margin: 0;
}
html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -7em;
}
.footer, .push {
height: 4em;
}

footer.footer {
    background-color: #191919;
    border-top: solid 1px white;
}

footer li {
    color: white;
}

footer ul {
    text-align: center;
}

.jumbotron {
    background-image: url("https://s3.amazonaws.com/fusician/assets/background.jpg");

}

.jumbotron a, p {
    color: white;
    font-family: 'Lato', sans-serif;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}



.thumbnail {
   display: inline-block;
    margin-bottom: 25px;
    background-color: #FFFFFF;
}

.col-md-12 {
    padding-bottom: 50px;
}

.col-md-7 {
    word-wrap: break-word;
    padding: 20px;
    background-color: white;
    min-height: 665px;

}

.col-md-5 {
    padding: 20px;
}

.col-md-4 {

}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.mainLogo {
    padding-top: 12px;
    text-decoration: none;
}

.userMain {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.footer {

    .liLine{
        display: inline-block;
        text-align: center;
    }
}




.featureHead{
    background: white;
    border-radius: 5px;
    margin-bottom: 30px;

}

.featureHead h3 {
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.btn-group{
    display: inline-block;

}

 .btn{
  border:0px solid transparent;
 }

.btn-sm {
    float: left;
}



// REGISTER PAGE START //

.formBox{
    margin: auto;
    width: 400px;
    min-height: 700px;
    background: white;
    border-radius: 1%;
    margin-bottom: 50px;
    padding: 40px;
}

.formBoxEdit{
  margin: auto;
  width: 800px;
  background: white;
  border-radius: 1%;
  margin-bottom: 50px;
  padding: 40px;
}

.regHead{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

.form-group{
    padding: 10px;
}

// REGISTER PAGE END //


// PROFILE PAGE START //

.test {
    margin-top: 40px;
    font-family: 'Lato', sans-serif;

}

.friends {
    padding: 0;
}

.friends li {
    display: inline;
    list-style-type: none;

}

.friendsList {
    float: left;
}

.friend-container {
    min-height: 350px;
    text-align: center;
    
    h5 {
    font-family: 'Lato', sans-serif; 
    }
    
    a {
        color: #3399FF;
    }
    
    a:visited {
        color: #3399FF;
    }
}

.player-container {
    width: 433px;;
    height: 164px;
    text-align: center;
    
    h5 {
    font-family: 'Lato', sans-serif;
    }
    
    a {
        color: #3399FF;
    }
    
    a:visited {
        color: #3399FF;
    }

}

hr {
    margin-top: 0;
}

.col-md-12 {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;

}


// PROFILE PAGE END //


// CONNECTION PAGE START //

.pendingH {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;

}

.connectionH {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

// CONNECTION PAGE END //


// FOOTER START //
footer {
  padding-top: 100px;
  color: white;
}
footer h3 {
  margin-bottom: 50px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #191919;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #191919;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //text-transform: uppercase;
  font-weight: 700;
}
p {
  font-size: 15px;
}

// FOOTER END //


// TEST PROFILE //

.profile-container {
    background-color: white;
    text-align: center;
    

}

.profile-content {
    background-color: white;
    margin-bottom: 30px;
}


.profile-head {
  background-color: #f2f2f2;
  color: #444;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1;
  text-align: center;
}

.profile-img {
  display: block;
  height: 9em;
  margin-right: auto;
  margin-left: auto;
  border: .5em solid #f2f2f2;
  border-radius: 100%;
  box-shadow:  0 1px 0 0 rgba(0,0,0,.1);
}

.profile-text {
  margin-top: -3.5em;
  padding: 5em 1.5em 1.5em 1.5em;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)
}

.profile-name{
  margin-right: -1em;
  margin-left: -1em;
  margin-top: -0.5em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.profile-title {

  color: #ccc;
}

.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    right:1px;
    top:10px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:2px 6px;
    font-size:10px;
}


// COMMENTS START //

.lead {
    color: black;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}

.commentSep {
    width: 100%;

}



.commenttext {
    background: black;

}

.comments_title {
     font-family: 'Lato', sans-serif;
}
// COMMENTS END //



// SEARCH START //

.search-container {
  text-align: center;
    padding-top: 200px;

    h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
}

.search-field {
    text-align: center;
    width: 100%;
}

.resultsH {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.premium-badge{
    margin-left: 4px;
    padding-bottom: 4px;
    background:green;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:2px 6px;
    font-size:10px;
}

// SEARCH END //

// SUBSCRIBE START //

.sub-container {
    text-align: center;
    padding-top: 250px;

    h2 {
       font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
}

.premium {
    text-align: center;
    padding-top: 20px;


    h2 {
       font-family: 'Lato', sans-serif;
        font-weight: 800;
    }

    h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
}

// SUBSCRIBE END //
