<div class="panel panel-default">
  <div class="panel-body">
      <div class="content">
       <div class="premium">
         <img src="
http://localhost:3000/assets/logosmall.png">
          <strong><h2>WHY BECOME A PREMIUM FUSICIAN?</h2></strong>
          <hr>
           <h3>*GET YOUR PROFILE FEATURED ON THE FRONT PAGE</h3>
           <h3>*END UP FIRST IN SEARCH RESULTS</h3>
            <h3>*MAKE YOUR PROFILE RICHER</h3>
            
       </div>
        <div class="sub-container">
        <hr>
        <h2>BECOME A PREMIUM USER</h2>
        
           <%= form_tag subscribers_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: Kr. 99</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="9900"
          data-currency="nok"
          data-name="Fusician Premium"
              data-image="http://localhost:3000/assets/logosmall.png"
          
          data-locale="auto"></script>
<% end %>

            
            
       
            
  
        </div>
      </div>
    </div>
</div>