<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <div class="jumbotron">
        <h1><h1>Welcome to Fusician, <%=@user.username %></h1></h1>
        
         
      </div>
      
    <p>
      You have successfully signed up to the fusician community.
     <br>
    <p>
      Rock on! <br>
      Sincerely, us at fusician.herokuapp.com
    </p>
  </body>
</html>