


<div class="panel panel-default">
  <div class="panel-body">
      <div class="content">
        <div class="search-container">     
        <h2>SEARCH MUSICIANS BY LOCATION</h2>
         <br>
            <%= form_tag(search_results_path, :method => "get", id: "search-form")  do %>
           
        
            <%= awesomplete_field(:search, collection: @cities, placeholder: "Location") %>
             <br><br>
              
                <%= submit_tag "Search" %>
                
            <% end %>
            
            
       
            
  
            
            
            
          
         </div>
      </div>
    </div>
</div>